.container-centered {
    text-align: center;
}

.popup-content {
    width: 240px;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}