@use './shared' as *;

// Email Properties Container
.email-properties-container {
  @include padding($padding-large);
  @include border-style(1px, solid, $border-color);
  @include border-radius($border-radius);
}

// Email Properties Item
.email-properties-item {
  @include flex-center;
  @include padding($padding-small);
}

// Email Properties Label
.email-properties-label {
  background-color: $background-color-label;
  @include border-radius($border-radius);
  @include padding($padding-small);
  min-width: 75px;
}

// Email Properties Form Control
.email-properties-formcontrol {
  @include margin-left($margin-left-large);
}

// Email Properties Textfield
.email-properties-textfield {
  @include margin-left($margin-left-large);
}

// Email Properties CC
.email-properties-cc {
  @include flex-center($margin-top-large);
}

// Email Properties Add CC
.email-properties-addcc {
  @include margin-left($margin-left-large);
}

// Email Properties Chip
.email-properties-chip {
  margin: $chip-margin;
}

// Email Properties Attach
.email-properties-attach {
  margin-top: $margin-top-medium;
}

// Email Properties Tooltip
.email-properties-tooltip {
  @include margin-left($tooltip-margin-left);
}

// Container Centered
.container-centered {
  text-align: center;
}

// Popup Content
.popup-content {
  width: $popup-width;
  @include padding($padding-medium);
}

// Email Body Textarea
.email-body-textarea {
  width: 100%;
  margin-top: $margin-top-medium;
  padding: $textarea-padding;
  box-sizing: border-box;
}