/* General styles for the login container */
.login-container {
    min-height: 100vh;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(ellipse at 50% 50%, hsl(210, 100%, 97%), hsl(0, 0%, 100%));
    background-repeat: no-repeat;
}

/* Card styling */
.login-card {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    padding: 16px;
    gap: 16px;
    margin: auto;
    box-shadow: hsla(220, 30%, 5%, 0.05) 0px 5px 15px 0px,
                hsla(220, 25%, 10%, 0.05) 0px 15px 35px -5px;
}

@media (min-width: 600px) {
    .login-card {
        max-width: 450px;
    }
}

/* Logo box styling */
.logo-box {
    display: flex;
    justify-content: center;
}

.logo-box img {
    width: 150px;
    height: auto;
}

/* Title typography */
.login-title {
    width: 100%;
    font-size: clamp(2rem, 10vw, 2.15rem);
    text-align: center;
}

/* Form styling */
.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

/* Error alert styling */
.login-error-alert {
    margin-top: 16px;
}

/* Submit button styling */
.submit-button {
    display: flex;
    justify-content: center;
}
