.table-wrapper {
    flex-grow: 1;
    position: relative;
    padding-top: 0; /* Remove top padding to align with the header */
    margin-top: 10px; /* Add margin to separate from the header and button */
}

.table-wrapper tr {
    cursor: pointer;
}

.message-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1; /* Ensure it's above other content */
    width: auto;
    max-width: 200px; /* Adjust width as needed */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-margin-right {
    padding-right: 10px;
}

.user-table-paper {
    margin: 16px;
    padding: 16px;
    max-width: 100%;
}
